<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f18bb531091769.5640f77be2b17.png"
    type="image/x-icon">
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                        <img src="https://www.transparentpng.com/thumb/technology/technology-cut-out-png-11.png">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About me</p>
                        <h1>I'm JAIDEEP:<span style="color:#0097e6"> WEB Developer </span>
                        </h1>
                        <a href="https://thejaideepr.github.io/new-portfolio/" target="_blank">
                            <button>portfolio</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- bootstrap link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- font-awesome link -->
    <script src="https://kit.fontawesome.com/091ffad770.js" crossorigin="anonymous"></script>
</body>
</body>

</html>