<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f18bb531091769.5640f77be2b17.png"
  type="image/x-icon">
</head>

<body>
  {{>navbar}}
  <!-- main header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather App</p>
            <h1>Get The Latest <span style="color:#0097e6"> Weather </span> Info of your city
            </h1>
            <a><button>Check Now</button></a>
          </div>
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_right">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://cdn4.iconfinder.com/data/icons/spring-6/128/yumminky-spring-color-19-512.png"
                    class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img
                    src="https://st4.depositphotos.com/10544526/21946/v/450/depositphotos_219469710-stock-illustration-weather-forecast-icon-seasons-clouds.jpg"
                    class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img
                    src="https://images.pexels.com/photos/459442/pexels-photo-459442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer code -->
  {{>footer}}
  <!-- bootstrap link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <!-- font-awesome link -->
  <script src="https://kit.fontawesome.com/091ffad770.js" crossorigin="anonymous"></script>
</body>
</body>

</html>